<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}">
    <script th:src="@{/js/calendar.js}"></script>
    <title>Calendar</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="d-flex justify-content-center">

    <div class="jumbotron col-8 pt-3 shadow-lg bg-white d-flex justify-content-center">


        <div id="calendar" class="w-75">
            <div id="menu" class="row my-4">
                <div class="btn-group col-2 px-0 mr-5" role="group" aria-label="Basic example">
                    <button class="col-6 btn btn-success border border-dark"><</button>
                    <button class="col-6 btn btn-success border border-dark">></button>
                </div>
            </div>

            <div class="row">
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Sun
                </div>
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Mon
                </div>
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Tue
                </div>
                <div class="border border-dark" style="width: 130px;height:50px">
                </div>
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Thu
                </div>
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Fri
                </div>
                <div class="border border-dark" style="width: 130px;height: 50px">
                    Sat
                </div>
            </div>

            <!--            <div id="first-row" class="row"></div>-->

            <!--            <div id="second-row" class="row"></div>-->

            <!--            <div id="third-row" class="row"></div>-->

            <!--            <div id="fourth-row" class="row"></div>-->

            <!--            <div id="fifth-row" class="row"></div>-->
        </div>
    </div>
</main>
<script th:inline="javascript">


    $(document).ready(function () {

        buildTable();

    });

</script>
</body>
</html>

