<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/calendar.css}">
    <script th:src="@{/js/calendar.js}"></script>
    <title>Calendar</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="d-flex justify-content-center">

    <div id="jumbotron" class="jumbotron col-8 pt-3 shadow-lg bg-white d-flex justify-content-center">

        <div id="calendar" class="w-75">
            <div class="row">
                <h3>Fitness-center "Pulse" bul. Bulgaria</h3>
            </div>
            <hr>
            <div id="menu" class="row my-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <div id="now" class="btn btn-success border border-dark">Now</div>
                    <select id="selectMonth" class="btn border border-dark">
                        <option value="1" class="dropdown-item" href="#">January</option>
                        <option value="2" class="dropdown-item" href="#">February</option>
                        <option value="3" class="dropdown-item" href="#">March</option>
                        <option value="4" class="dropdown-item" href="#">April</option>
                        <option value="5" class="dropdown-item" href="#">May</option>
                        <option value="6" class="dropdown-item" href="#">June</option>
                        <option value="7" class="dropdown-item" href="#">July</option>
                        <option value="8" class="dropdown-item" href="#">August</option>
                        <option value="9" class="dropdown-item" href="#">September</option>
                        <option value="10" class="dropdown-item" href="#">October</option>
                        <option value="11" class="dropdown-item" href="#">November</option>
                        <option value="12" class="dropdown-item" href="#">December</option>
                    </select>
                    <select id="selectYear" class="btn border border-dark">
                        <option value="2019" class="dropdown-item" href="#">2019</option>
                        <option value="2020" class="dropdown-item" href="#">2020</option>
                    </select>
                    <div id="find-month" class="btn btn-success border border-dark">Find</div>
                </div>

            </div>

            <div class="row">
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Sun
                </div>
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Mon
                </div>
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Tue
                </div>
                <div class="border border-dark" style="width: 130px;height:45px">
                    Wed
                </div>
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Thu
                </div>
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Fri
                </div>
                <div class="border border-dark" style="width: 130px;height: 45px">
                    Sat
                </div>
            </div>

        </div>
    </div>
</main>
<script th:inline="javascript">

    $(document).ready(function () {
        buildTable(currentMonth);
    });

    $("#now").on("click", (e) => {
        e.preventDefault();
        buildTable(currentMonth);
    });

    $("#find-month").on("click", (e) => {
        e.preventDefault();
        let monthVal = $('#selectMonth option:selected').val();
        let yearVal = $('#selectYear option:selected').val();
        let month = findMonth(monthVal, yearVal);
        buildTable(month);
    });

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>

