<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Sport center details</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-8 shadow-lg bg-white">
        <h1>Sport center details</h1>
        <hr>
        <div class="row">
            <h5 class="mx-3">Name:</h5>
            <h5 th:text="${sportCenterServiceModel.getName()}"></h5>
        </div>
        <hr>

        <h5>Address:</h5>
        <div class="row">
            <th:block th:include="~{fragments/sport_centers/form-sport-center-address}"></th:block>
        </div>
        <hr>

        <h5>Description image:</h5>
        <div class="row">
            <div class="col-4">
                <th:block th:include="~{fragments/sport_centers/sport-center-details-description-image-modal}"></th:block>
            </div>
        </div>
        <hr>

        <h5>Description:</h5>
        <div class="row">
            <th:block th:include="~{fragments/sport_centers/form-sport-center-description}"></th:block>
        </div>
        <hr>

        <h5>Icon image:</h5>
        <div class="row">
            <div class="col-4">
                <th:block th:include="~{fragments/sport_centers/sport-center-details-icon-image-modal}"></th:block>
            </div>
        </div>
        <hr>

        <h5>Sport center images:</h5>
        <div class="row">
            <div class="col-3">
                <th:block th:include="~{fragments/sport_centers/form-add-sport-center-images}"></th:block>
            </div>
            <div class="col d-flex flex-wrap pt-2 px-0">
                <th:block th:each="image, iter : ${sportCenterServiceModel.getSportCenterImages()}">
                    <th:block th:include="~{fragments/sport_centers/sport-center-details-image-modal}"></th:block>
                </th:block>
            </div>
        </div>
        <hr>


        <form th:action="@{/admin/panel}" th:method="get">
            <button class="btn btn-lg btn-outline-success">Go to admin panel</button>
        </form>
        <hr>
        <a th:href="@{/sport-centers/show-all-sport-centers}" class="btn btn-lg btn-outline-success mt-3">
            Show all sport centers
        </a>
        <hr>
<!--        <th:block th:include="~{fragments/sports/delete-sport-modal}"></th:block>-->
<!--        <hr>-->
    </div>
</main>
<script type="text/javascript">
    (function ($) {
        $.fn.scrollPosReaload = function () {
            if (localStorage) {
                var posReader = localStorage["posStorage"];
                if (posReader) {
                    $(window).scrollTop(posReader);
                    localStorage.removeItem("posStorage");
                }
                $(this).click(function (e) {
                    localStorage["posStorage"] = $(window).scrollTop();
                });
                return true;
            }
            return false;
        };
        $(document).ready(function () {
            $('select').scrollPosReaload();
        });
    }(jQuery));

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>