<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Sport center details</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main>
    <div class="d-flex justify-content-center">

        <div class="jumbotron col-9 shadow-lg bg-white pb-4">
            <div class="row">
                <h2 class="ml-3 font-italic" th:text="${sportCenterViewModel.getName()}"></h2>
            </div>
            <hr>

            <h5 class="font-italic">Icon image:</h5>
            <div class="row">
                <th:block th:include="~{fragments/sport_centers/sport-center-details-icon-image-modal}"></th:block>
            </div>
            <hr>

            <h5 class="font-italic">Address:</h5>
            <div class="row">
                <th:block th:include="~{fragments/sport_centers/form-sport-center-address}"></th:block>
            </div>
            <hr>

            <h5 class="font-italic">Description:</h5>
            <div class="row">
                <th:block th:include="~{fragments/sport_centers/form-sport-center-description}"></th:block>
            </div>
            <hr>

            <h5 class="font-italic">Sport center images:</h5>
            <div class="row">
                <div class="col-3">
                    <th:block th:include="~{fragments/sport_centers/form-add-sport-center-images}"></th:block>
                </div>
                <div class="col d-flex flex-wrap pt-2 px-0">
                    <th:block th:each="image, iter : ${sportCenterViewModel.getSportCenterImages()}">
                        <th:block th:include="~{fragments/sport_centers/sport-center-details-image-modal}"></th:block>
                    </th:block>
                </div>
            </div>
            <hr>

            <h5 class="font-italic">Sports:</h5>
            <div class="row">
                <div class="col-3">
                    <th:block th:include="~{fragments/sport_centers/form-update-sport-center-sports}"></th:block>
                </div>
                <div class="col d-flex flex-wrap pt-2 px-0">
                    <th:block th:each="sport, iter : ${sportCenterViewModel.getSports()}">
                        <th:block th:include="~{fragments/sport_centers/sport-center-sport-image-modal}"></th:block>
                    </th:block>
                </div>
            </div>
            <hr>
            <form th:action="@{/calendar/show-calendar/{id}(id=${sportCenterViewModel.getId()})}"
                  th:method="get" class="w-100">
                <button class=" btn btn-lg btn-outline-dark" style="width: 16vw;">
                    Show Calendar
                </button>
            </form>
            <hr>
            <a th:href="@{/sport-centers/show-all-sport-centers}"
               class="btn btn-lg btn-outline-dark" style="width: 16vw;">
                Go back
            </a>
            <hr>
            <th:block th:include="~{fragments/sport_centers/delete-sport-center-modal}"></th:block>
        </div>

    </div>
</main>

<script type="text/javascript">

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>