<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="col-3 mt-3 mw-100 pt-4 pb-2 border rounded shadow-lg" style="height: 255px;">

    <form id="edit-icon-form" th:action="@{/sports/edit-icon-image/{id}(id=${sportServiceModel.getId()})}"
          th:method="post" class="w-100 mx-0" enctype="multipart/form-data">
        <div class="btn-group-vertical w-100">
            <input name="name" th:value="${sportServiceModel.getIconImage().getName()}"
                   type="text" class="btn btn-block border text-left" placeholder="Name...">
        </div>
        <hr>
        <button type="submit" class="btn btn-lg btn-block btn-warning my-2">Save changes</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>

</div>
</html>