<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="card mx-2 shadow-lg my-1" style="width: 30vw; height: 28vh;">

    <div class="row no-gutters">

        <div class="col-md-4">
            <img class="card-img" th:src="${sportsImage}"
                 style="width: 10vw; height: 27.8vh;" alt="...">
        </div>

        <div class="col-md-8">
            <div class="card-body py-0">
                <h4 class="my-3 font-italic">Sports</h4>

                <div class="btn-group-vertical btn-block my-2">
                    <a th:href="@{/sports/create-sport}"
                       class="btn btn-lg btn-outline-dark btn-block" style="height: 6vh;">
                        Create sport
                    </a>
                    <a th:href="@{/sports/show-all-sports}"
                       class="btn btn-lg btn-outline-dark btn-block" style="height: 6vh;">
                        Show all sports
                    </a>
                    <a href="#"
                       class="btn btn-lg btn-outline-dark btn-block" style="height: 6vh;">
                        Empty
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>


</html>