<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="card mx-4 shadow-lg my-1" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" th:src="${sportCentersImage}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body py-1 h-100">
                <h4 class="my-3 font-italic">Sport Centers</h4>
                <div class="btn-group-vertical btn-block my-2">
                    <a th:href="@{/sport-centers/create-sport-center}"
                       class="btn btn-lg btn-outline-dark btn-block">
                        Create sport center
                    </a>
                    <a th:href="@{/sport-centers/show-all-sport-centers}"
                       class="btn btn-lg btn-outline-dark btn-block">
                        Show all sport centers
                    </a>
                    <a href="#" class="btn btn-lg btn-outline-dark btn-block">
                        Empty
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>