<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="card mx-4 shadow-lg my-1" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" th:src="${usersImage}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body py-1">
                <h5 class="my-3">Users</h5>
                <div class="btn-group-vertical btn-block my-2">
                    <a th:href="@{/users/show-all-users}"
                       class="btn btn-lg btn-outline-dark btn-block">
                        Show all users
                    </a>
                    <a th:href="@{/users/show-all-users}"
                       class="btn btn-lg btn-outline-dark btn-block">
                        Empty
                    </a>
                    <a th:href="@{/users/show-all-users}"
                       class="btn btn-lg btn-outline-dark btn-block">
                        Empty
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>