<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Calendar</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="d-flex justify-content-center">
    <div id="jumbotron" class="jumbotron col-8 pt-3 pb-3 shadow-lg bg-white d-flex justify-content-center">

        <div id="calendar" class="w-75">
            <div class="row mt-2">
                <h3 class="font-italic" th:text="${sportCenterViewModel.getName()}"></h3>
            </div>
            <hr>
            <div id="menu" class="row my-3">
                <div class="btn-group ml-1" role="group" aria-label="Basic example">
                    <div id="now" class="btn btn-success border border-dark">Now</div>
                    <select id="selectMonth" class="btn border border-dark">
                        <option value="1" class="dropdown-item" href="#">January</option>
                        <option value="2" class="dropdown-item" href="#">February</option>
                        <option value="3" class="dropdown-item" href="#">March</option>
                        <option value="4" class="dropdown-item" href="#">April</option>
                        <option value="5" class="dropdown-item" href="#">May</option>
                        <option value="6" class="dropdown-item" href="#">June</option>
                        <option value="7" class="dropdown-item" href="#">July</option>
                        <option value="8" class="dropdown-item" href="#">August</option>
                        <option value="9" class="dropdown-item" href="#">September</option>
                        <option value="10" class="dropdown-item" href="#">October</option>
                        <option value="11" class="dropdown-item" href="#">November</option>
                        <option value="12" class="dropdown-item" href="#">December</option>
                    </select>
                    <select id="selectYear" class="btn border border-dark">
                        <option value="2019" class="dropdown-item" href="#">2019</option>
                        <option value="2020" class="dropdown-item" href="#">2020</option>
                    </select>
                    <div id="find-month" class="btn btn-success border border-dark">Find</div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="border border-right-0 border-dark rounded-left ml-1" style="width: 132px;height: 35px">
                    <h5 class="text-center">Sun</h5>
                </div>
                <div class="border-top border-bottom border-dark" style="width: 132px;height: 35px">
                    <h5 class="text-center">Mon</h5>
                </div>
                <div class="border-top border-bottom border-dark" style="width: 132px;height: 35px">
                    <h5 class="text-center">Tue</h5>
                </div>
                <div class="border-top border-bottom border-dark" style="width: 132px;height:35px">
                    <h5 class="text-center">Wed</h5>
                </div>
                <div class="border-top border-bottom border-dark" style="width: 132px;height: 35px">
                    <h5 class="text-center">Thu</h5>
                </div>
                <div class="border-top border-bottom border-dark" style="width: 132px;height: 35px">
                    <h5 class="text-center">Fri</h5>
                </div>
                <div class="border border-left-0 border-dark rounded-right" style="width: 132px;height: 35px">
                    <h5 class="text-center">Sat</h5>
                </div>
            </div>
        </div>

    </div>
</main>

<th:block sec:authorize="hasRole('ROLE_ADMIN')">
    <div id="isAdmin" th:text="YES" hidden></div>
</th:block>

<script type="text/javascript" th:inline="javascript">

    let sportCenterID = [[${sportCenterViewModel.getId()}]];
    let isAdmin = $('#isAdmin').text();

    $(document).ready(async function () {
        let scheduleDays = await findSportCenterSchedulesByMonth(currentMonth.month, sportCenterID);
        buildTable(currentMonth, createScheduleModal, showScheduleModal, scheduleDays);
    });

    $("#now").on("click", async (e) => {
        e.preventDefault();
        let scheduleDays = await findSportCenterSchedulesByMonth(currentMonth.month, sportCenterID);
        buildTable(currentMonth, createScheduleModal, showScheduleModal, scheduleDays);
    });

    $("#find-month").on("click", async (e) => {
        e.preventDefault();
        let monthVal = $('#selectMonth option:selected').val();
        let yearVal = $('#selectYear option:selected').val();
        let month = findMonth(monthVal, yearVal);
        let scheduleDays = await findSportCenterSchedulesByMonth(month.month, sportCenterID);
        buildTable(month, createScheduleModal, showScheduleModal, scheduleDays);
    });

    let createScheduleModal = (day, month, year) => {
        let createScheduleBtn;
        if (isAdmin === 'YES') {
            createScheduleBtn = `<form action="/calendar/create-schedule/${sportCenterID}/${day}/${month}/${year}"
                                       method="get" id="create-schedule-form" class="w-100">
                                    <button type="submit" class="btn btn-block btn-warning">
                                        Create schedule
                                    </button>
                                  </form>`
        } else {
            createScheduleBtn = ``
        }
        return `<div class='m-1 rounded rounded-sm border border-dark' style='width: 125px;height: 80px'>
                    <div id="mybtn" data-toggle="modal" data-target="#a${day}">
                        <div class='bg-white rounded rounded-sm' style='width: 123px;height: 78px'>
                        <h3 class="text-dark pt-1">${day}</h3>
                    </div>
                </div>

                <div class="modal fade" id="a${day}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered w-25" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body justify-content-center">
                                <h5 class="text-center">
                                    There is no schedule for this day!
                                </h5>
                            </div>
                            <div class="modal-footer justify-content-center">${createScheduleBtn}</div>
                        </div>
                    </div>
                </div>`
    };

    let showScheduleModal = (day, month, year) => {
        return `<div class='m-1' style='width: 125px;height: 80px'>
                    <form action="/calendar/schedule-details/${sportCenterID}/${day}/${month}/${year}"
                              method="get" id="create-schedule-form" class="w-100">
                        <button  class='btn btn-success px-0 pb-5 text-left border border-dark' style='width: 125px;height: 80px'>
                            <h3 class="text-white pt-0">${day}</h3>
                        </button>
                    </form>
                </div>`
    };

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>

