<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="col-3 mt-3 mw-100 pt-3 py-4 border rounded shadow-lg" style="height: 187px;">
    <hr>
    <form th:action="@{/sport-centers/update-sport-center-sports/{id}(id=${sportCenterViewModel.getId()})}"
          th:method="get" class="w-100 mx-0">
        <button type="submit" class="btn btn-lg btn-block btn-warning my-4">Update sports</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
    <hr>
</div>
</html>