<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="col-3 mt-3 mw-100 pt-3 pb-2 border rounded shadow-lg">

    <form th:action="@{/sport-centers/edit-sport-center-address/{id}(id=${sportCenterServiceModel.getId()})}"
          th:method="post" class="w-100 mx-0" enctype="multipart/form-data">
        <div class="btn-group-vertical w-100">
            <input name="country" type="text" th:value="${sportCenterServiceModel.getAddress().getCountry()}"
                   class="btn btn-block border text-left" placeholder="Country...">
            <input name="city" type="text" th:value="${sportCenterServiceModel.getAddress().getCity()}"
                   class="btn btn-block border text-left" placeholder="City...">
            <input name="street" type="text" th:value="${sportCenterServiceModel.getAddress().getStreet()}"
                   class="btn btn-block border text-left" placeholder="Street...">
            <input name="details" type="text" th:value="${sportCenterServiceModel.getAddress().getDetails()}"
                   class="btn btn-block border text-left" placeholder="Details...">
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-warning mb-2 mt-3">Save address</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>

</div>
</html>