<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Button trigger modal -->
<div id="mybtn" data-toggle="modal" th:data-target="'#a' + ${sc.getIconImage().getId()}">
    <div class="card m-2 shadow-lg" style="width: 21rem;">
        <img th:src="${sc.getIconImage().getImageURL()}"
             class="mw-100 mh-100 rounded-top" style="height: 150px;" alt="...">
        <div class="card-body p-1">
            <h6 class="card-text text-center mb-2" th:text="${sc.getName()}"></h6>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" th:id="'a' + ${sc.getIconImage().getId()}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="row">
                    <h2 class="col-8 mb-3 font-italic" th:text="${sc.getIconImage().getName()}"></h2>
                </div>
                <div class="wm-100 d-flex justify-content-center">
                    <img th:src="${sc.getIconImage().getImageURL()}"
                         class="mw-100 rounded" style="max-height: 500px;" alt="...">
                </div>

            </div>
            <div class="modal-footer w-100">

                    <form th:action="@{/calendar/show-calendar/{id}(id=${sc.getId()})}"
                          th:method="get" class="w-100">
                        <button class="btn btn-block btn-outline-dark">Calendar</button>
                    </form>

                    <form th:action="@{/sport-centers/guests-sport-center-details/{id}(id=${sc.getId()})}"
                          th:method="get" class="w-100">
                        <button class="btn btn-block btn-outline-dark">Learn more</button>
                    </form>

                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{/sport-centers/sport-center-details/{id}(id=${sc.getId()})}"
                              th:method="get" class="w-100">
                            <button class="btn btn-block btn-warning border border-dark font-weight-bold font-italic">
                                Admin
                            </button>
                        </form>
                </th:block>

            </div>
        </div>
    </div>
</div>

</html>