<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Button trigger modal -->
<div id="mybtn" data-toggle="modal" th:data-target="'#a' + ${image.getId()}">
    <div class="card mx-2" style="width: 8rem;">
        <img th:src="${image.getImageURL()}"
             class="card-img-top" style="height: 150px;" alt="...">
        <div class="card-body pl-3 pr-0 py-3">
            <th:block th:switch="${iter.index}">
                <div th:case="0">
                    <p class="card-text">Users</p>
                </div>
                <div th:case="1">
                    <p class="card-text">Settings</p>
                </div>
                <div th:case="2">
                    <p class="card-text">Sport Centers</p>
                </div>
                <div th:case="3">
                    <p class="card-text">Sports</p>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" th:id="'a' + ${image.getId()}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <h6 class="col-3">Name: </h6>
                            <p class="col-9" th:text="${image.getName()}"></p>
                        </div>
                    </div>

                </div>
                <div class="wm-100 d-flex justify-content-center">
                    <img th:src="${image.getImageURL()}"
                         class="mw-100 rounded" style="max-height: 500px;" alt="...">
                </div>

            </div>
            <div class="modal-footer">
                <!--                <form th:action="@{/images/edit/{id}(id=${image.getId()})}" th:method="get">-->
                <!--                    <button class="btn btn-outline-warning">Edit</button>-->
                <!--                </form>-->
                <!--                <form th:action="@{/sports/delete-image(sportID=${sportServiceModel.getId()}, imageID=${image.getId()})}" th:method="post">-->
                <!--                    <button class="btn btn-outline-danger">Delete</button>-->
                <!--                </form>-->
            </div>
        </div>
    </div>
</div>

</html>