<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="btn-group w-100" role="group" aria-label="Basic example">
    <button type="submit"
            class="col-8 btn btn-lg btn-block btn-warning my-3 border border-dark">Edit</button>
    <button onclick="goBack()"
            class="col-4 btn btn-lg  btn-block btn-outline-dark my-3">Cancel</button>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>