<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Button trigger modal -->
<div id="mybtn" data-toggle="modal" th:data-target="'#a' + ${setting.getIndexCarouselImages().get(0).getId()}">
    <img th:src="${setting.getIndexCarouselImages().get(0).getImageURL()}"
         class="mw-100 mh-100 m-2 rounded shadow-lg" style="height: 150px;" alt="...">
</div>

<!-- Modal -->
<div class="modal fade" th:id="'a' + ${setting.getIndexCarouselImages().get(0).getId()}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <h6 class="col-3 pr-0">Setting name: </h6>
                            <p class="col-3" th:text="${setting.getName()}"></p>
                        </div>
                    </div>

                </div>
                <div class="wm-100 d-flex justify-content-center">
                    <img th:src="${setting.getIndexCarouselImages().get(0).getImageURL()}"
                         class="mw-100 rounded" style="max-height: 500px;" alt="...">
                </div>

            </div>
            <div class="modal-footer">
                <form th:action="@{/settings/show-setting-details/{id}(id=${setting.getId()})}" th:method="get">
                    <button class="btn btn-success">Show setting details</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>