<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Guests sport details</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-8 py-4 shadow-lg bg-white">

        <div class="row">
            <h2 class="font-italic ml-3" th:text="${sportViewModel.getName()}"></h2>
        </div>

        <div class="row">
            <img id="icon-img" th:src="${sportViewModel.getIconImage()}"
                 class="m-3 rounded" style="height: 450px;" alt="...">
        </div>
        <hr>

        <div class="row">
            <p class="px-3 font-italic" th:text="${sportViewModel.getSportDescription()}"></p>
        </div>
        <hr>

        <h5 class="font-italic">Sport images:</h5>
        <div class="row">
            <div class="col d-flex flex-wrap pt-2 px-0">
                <th:block th:each="image, iter : ${sportViewModel.getSportImages()}">
                    <th:block th:include="~{fragments/sports/guests-details-image-modal}"></th:block>
                </th:block>
            </div>
        </div>
        <hr>
        <a th:href="@{/sports/show-all-sports}" class="btn btn-lg btn-outline-dark col-3">Go back</a>
    </div>
</main>
<script th:inline="javascript">
    let id = [[${sportViewModel.getIconImage().getId()}]];

    fetch("/rest/sports/load-icon-image/" + id)
        .then(resp => resp.json())
        .then(resp => {
            $("#icon-img").attr("src", resp.imageURL);
            $("#icon-modal-img").attr("src", resp.imageURL);
        });

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>