<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Button trigger modal -->
<div id="mybtn" data-toggle="modal" th:data-target="'#a' + ${image.getId()}">
    <div class="card mx-2 shadow-lg" style="height: 240px; width: 140px">
        <img th:src="${image.getImageURL()}"
             class="card-img-top" style="height: 180px;" alt="...">

        <div class="card-body px-0 py-3">
            <th:block th:switch="${iter.index}">
                <div th:case="0">
                    <h6 class="card-text text-center">Users</h6>
                </div>
                <div th:case="1">
                    <h6 class="card-text text-center">Themes</h6>
                </div>
                <div th:case="2">
                    <h6 class="card-text text-center">Sport Centers</h6>
                </div>
                <div th:case="3">
                    <h6 class="card-text text-center">Sports</h6>
                </div>
            </th:block>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" th:id="'a' + ${image.getId()}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="row">
                    <h2 class="col-8 mb-3 font-italic" th:text="${image.getName()}"></h2>
                </div>
                <div class="wm-100 d-flex justify-content-center">
                    <img th:src="${image.getImageURL()}"
                         class="mw-100 rounded" style="max-height: 500px;" alt="...">
                </div>

            </div>
            <div class="modal-footer">
                <form th:action="@{/themes/edit-theme-image/{themeID}/{imageID}
                (themeID=${themeServiceModel.getId()}, imageID=${image.getId()})}"
                      th:method="get">
                    <button class="btn btn-lg btn-warning border border-dark">Edit image</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>