<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="col-3 mt-3 mw-100 pt-4 pb-2 border rounded shadow-lg" style="height: 240px; width: 345px">

    <div th:if="${themeViewModel.getAdminPanelImages().size() < 4}">
        <form th:action="@{/themes/add-admin-panel-images/{id}(id=${themeViewModel.getId()})}"
              th:method="post" class="w-100 mx-0" enctype="multipart/form-data">
            <div class="btn-group-vertical w-100">
                <input name="name" type="text" class="btn btn-block border text-left" placeholder="Name...">
            </div>
            <p class="my-3 text-danger">560 x 800 px and up to 1.0MB</p>
            <input name="image" type="file" class="mb-1">
            <hr>
            <button type="submit" class="btn btn-md btn-block btn-warning mb-2">Add image</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>

    <div th:if="${themeViewModel.getAdminPanelImages().size() == 4}">
        <form th:action="@{/themes/delete-admin-panel-images/{id}(id=${themeViewModel.getId()})}"
              th:method="post" class="w-100 mx-0" enctype="multipart/form-data">
            <div class="btn-group-vertical w-100">
                <input name="name" type="text" class="btn btn-block border text-left" placeholder="Name...">
            </div>
            <p class="my-3 text-danger">560 x 800 px and up to 1.0MB</p>
            <input name="image" type="file" class="mb-1">
            <hr>
            <button type="submit" class="btn btn-md btn-block btn-danger mb-2">Delete</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>
</html>