<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Home</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="container-fluid">

    <div class="row d-flex justify-content-center mt-5">
        <div class="jumbotron col-10 py-3 text-center bg-white shadow-lg">
            <img th:src="${image1}" class="col-12 mt-4" alt="...">
            <h4 class=" font-italic mt-4">
                Quisque id diam vel quam elementum pulvinar etiam non
            </h4>
            <hr>
            <p class=" font-italic mt-4">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                Eros in cursus turpis massa tincidunt."
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="jumbotron col-10 py-3 text-center bg-white shadow-lg">
            <img th:src="${image2}" class="col-12 mt-4" alt="...">
            <h4 class=" font-italic mt-4">
                Accumsan tortor posuere ac ut consequat. Orci ac auctor augue
            </h4>
            <hr>
            <p class=" font-italic mt-4">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                Eros in cursus turpis massa tincidunt."
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5">
        <div class="jumbotron col-10 py-3 text-center bg-white shadow-lg">
            <img th:src="${image3}" class="col-12 mt-4" alt="...">
            <h4 class=" font-italic mt-4">
                Orci sagittis eu volutpat odio facilisis mauris sit amet
            </h4>
            <hr>
            <p class=" font-italic mt-4">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                incididunt ut labore et dolore magna aliqua. Aliquet lectus proin nibh nisl condimentum
                id venenatis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Senectus et
                netus et malesuada fames ac turpis egestas. Ut venenatis tellus in metus vulputate.
                Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Turpis egestas integer
                eget aliquet. Viverra tellus in hac habitasse platea dictumst vestibulum. Pulvinar mattis
                nunc sed blandit libero. Cras semper auctor neque vitae tempus. Arcu ac tortor dignissim
                convallis aenean et tortor at risus. Volutpat lacus laoreet non curabitur gravida arcu.
                Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Amet mauris commodo
                quis imperdiet massa tincidunt nunc pulvinar sapien. Ac ut consequat semper viverra
                nam libero. Sed risus pretium quam vulputate dignissim suspendisse in est.
                Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                Eros in cursus turpis massa tincidunt."
            </p>
        </div>
    </div>

</main>
</body>
</html>