<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Button trigger modal -->
<div id="mybtn" data-toggle="modal" th:data-target="'#a' + ${sportServiceModel.getDescriptionImage().getId()}">
    <img th:src="${sportServiceModel.getDescriptionImage().getImageURL()}"
         class="mw-100 mh-100 m-2 rounded shadow-lg" style="height: 150px;" alt="...">
</div>

<!-- Modal -->
<div class="modal fade" th:id="'a' + ${sportServiceModel.getDescriptionImage().getId()}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <h6 class="col-3">Name: </h6>
                            <p class="col-9" th:text="${sportServiceModel.getDescriptionImage().getName()}"></p>
                        </div>
                    </div>

                </div>
                <div class="wm-100 d-flex justify-content-center">
                    <img th:src="${sportServiceModel.getDescriptionImage().getImageURL()}"
                         class="mw-100 rounded" style="max-height: 500px;" alt="...">
                </div>

            </div>
            <div class="modal-footer">
                <form th:action="@{/settings/edit-setting-image/{settingID}/{imageID}
                (settingID=${sportServiceModel.getId()}, imageID=${sportServiceModel.getDescriptionImage().getId()})}"
                      th:method="get">
                    <button class="btn btn-warning">Edit image</button>
                </form>
                <form th:action="@{/settings/delete-setting-image/{settingID}/{imageID}
                (settingID=${sportServiceModel.getId()}, imageID=${sportServiceModel.getDescriptionImage().getId()})}"
                      th:method="post">
                    <button class="btn btn-danger">Delete image</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>