<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Add images to home carousel</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-6 shadow-lg bg-white">
        <div class="row">
            <h3 class="ml-3">Home carousel</h3>
        </div>
        <hr>

        <div class="row">
            <div class="col-6 mt-3">
                <form th:action="@{/settings/add-images-home-carousel/{id}(id=${settingServiceModel.getId()})}"
                      th:method="post"
                      class="w-100 mx-0" enctype="multipart/form-data">
                    <div th:if="${settingServiceModel.getHomeCarouselImages().size() < 3}">
                        <div class="btn-group-vertical w-100">
                            <input name="name" type="text" class="btn btn-block border text-left"
                                   placeholder="Image name...">
                        </div>
                        <p class="my-3 text-danger">Images must be 1600 x 600 px</p>
                        <input name="image" type="file" class="mb-4">


                        <button type="submit" class="btn btn-lg btn-block btn-success my-2">Add image</button>
                    </div>
                    <div th:if="${settingServiceModel.getHomeCarouselImages().size() == 3}">
                        <a th:href="@{/settings/add-admin-panel-images/{id}(id=${settingServiceModel.getId()})}"
                           class="btn btn-lg btn-block btn-warning my-2">Continue</a>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>

            <div class="col-6 mt-3">
                <div class="d-flex flex-wrap">

                    <th:block th:each="image, iter : ${settingServiceModel.getHomeCarouselImages()}">
                        <th:block th:include="~{fragments/setting-image-modal}"></th:block>
                    </th:block>

                </div>
            </div>
        </div>
        <hr>
    </div>
</main>
<script>
    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>