<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>New sport create images</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-6 shadow-lg bg-white">
        <div class="row">
            <h3 class="ml-3">Admin panel images</h3>
        </div>
        <hr>

        <div class="row">
            <div class="col-4 mt-3">
              <div th:if="${settingServiceModel.getAdminPanelImages().size() < 4}">
                  <form th:action="@{/settings/add-admin-panel-images/{id}(id=${settingServiceModel.getId()})}"
                        th:method="post" class="w-100 mx-0" enctype="multipart/form-data">
                      <div class="btn-group-vertical w-100">
                          <input name="name" type="text" class="btn btn-block border text-left" placeholder="Name...">
                      </div>
                      <p class="mb-3 mt-4 text-danger">Images must be 560 x 800 px</p>
                      <input name="image" type="file" class="mb-4">

                      <button type="submit" class="btn btn-lg btn-block btn-success mb-2">Add image</button>
                      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                  </form>
              </div>
                <div th:if="${settingServiceModel.getAdminPanelImages().size() == 4}">
                    <a th:href="@{/settings/show-all-settings}" class="btn btn-lg btn-block btn-warning mb-2">Finish</a>
                </div>
            </div>
            <div class="col-8 mt-3">
                <div class="d-flex flex-wrap h-100">

                    <th:block th:each="image, iter : ${settingServiceModel.getAdminPanelImages()}">
                        <div th:href="${iter.index}"></div>
                        <th:block th:include="~{fragments/admin-panel-image-modal}"></th:block>
                    </th:block>

                </div>
            </div>
        </div>
        <hr>
    </div>
</main>
<script>
    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>