<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Create index carousel images</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-10 shadow-lg bg-white">
        <div class="row">
            <h3 class="ml-3">New sport create images</h3>
        </div>
        <hr>

        <div class="row">
            <div class="col-3 mt-3">
                <form th:action="@{/settings/create-sport-image/{id}(id=${sportServiceModel.getId()})}" th:method="post"
                      class="w-100 mx-0" enctype="multipart/form-data">
                    <div class="btn-group-vertical w-100">
                        <input name="name" type="text" class="btn btn-block border text-left" placeholder="Name...">
                        <input name="location" type="text" class="btn btn-block border text-left"
                               placeholder="Location...">
                        <input name="width" type="number" class="btn btn-block border text-left" placeholder="Width...">
                        <input name="height" type="number" class="btn btn-block border text-left"
                               placeholder="Height...">
                    </div>
                    <input name="image" type="file" class="my-4">

                    <button type="submit" class="btn btn-lg btn-block btn-success my-2">Add image</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </div>
            <div class="col-9 mt-3 border rounded">
                <div class="d-flex flex-wrap">

                    <th:block th:each="image, iter : ${sportServiceModel.getImages()}">
                        <th:block th:include="~{fragments/sport-image-modal}"></th:block>
                    </th:block>

                </div>
            </div>
        </div>
        <hr>
    </div>
</main>
<script>
    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>