<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Setting details</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-9 shadow-lg bg-white">
        <h1>Setting details</h1>
        <hr>
        <div class="row">
            <h5 class="mx-3">Name:</h5>
            <h5 th:text="${settingServiceModel.getName()}"></h5>
        </div>
        <hr>

        <h5>Icon image:</h5>
        <div class="row">
            <div class="col-4">
                <th:block th:include="~{fragments/settings/setting-details-icon-image-modal}"></th:block>
            </div>
        </div>
        <hr>

        <h5>Index carousel images:</h5>
        <div class="row">
            <div class="col-4" th:if="${settingServiceModel.getIndexCarouselImages().size() < 3}">
                <th:block th:include="~{fragments/settings/form-index-carousel-images}"></th:block>
            </div>
            <div class="col d-flex flex-wrap pt-2">
                <th:block th:each="image, iter : ${settingServiceModel.getIndexCarouselImages()}">
                    <th:block th:include="~{fragments/settings/setting-details-image-modal}"></th:block>
                </th:block>
            </div>
        </div>
        <hr>

        <h5>Home carousel images:</h5>
        <div class="row">
            <div class="col-4" th:if="${settingServiceModel.getHomeCarouselImages().size() < 3}">
                <th:block th:include="~{fragments/settings/form-home-carousel-images}"></th:block>
            </div>
            <div class="col d-flex flex-wrap pt-2">
                <th:block th:each="image, iter : ${settingServiceModel.getHomeCarouselImages()}">
                    <th:block th:include="~{fragments/settings/setting-details-image-modal}"></th:block>
                </th:block>
            </div>
        </div>
        <hr>

        <h5>Admin panel images:</h5>
        <div class="row">
            <div class="col-4" th:if="${settingServiceModel.getAdminPanelImages().size() < 4}">
                <th:block th:include="~{fragments/settings/form-admin-panel-images}"></th:block>
            </div>
            <div class="col d-flex flex-wrap pt-3">
                <th:block th:each="image, iter : ${settingServiceModel.getAdminPanelImages()}">
                    <th:block th:include="~{fragments/settings/admin-panel-image-modal}"></th:block>
                </th:block>
            </div>
        </div>
        <hr>
        <form th:action="@{/admin/panel}" th:method="get">
            <button class="btn btn-lg btn-outline-success">Go to admin panel</button>
        </form>
        <hr>
        <a th:href="@{/settings/show-all-settings}" class="btn btn-lg btn-outline-success mt-3">
            Show all settings
        </a>
        <hr>
        <th:block th:include="~{fragments/settings/delete-setting-modal}"></th:block>
        <hr>
    </div>
</main>
<script type="text/javascript">
    (function ($) {
        $.fn.scrollPosReaload = function () {
            if (localStorage) {
                var posReader = localStorage["posStorage"];
                if (posReader) {
                    $(window).scrollTop(posReader);
                    localStorage.removeItem("posStorage");
                }
                $(this).click(function (e) {
                    localStorage["posStorage"] = $(window).scrollTop();
                });
                return true;
            }
            return false;
        }
        $(document).ready(function () {
            $('select').scrollPosReaload();
        });
    }(jQuery));

    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>