<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>All Images</title>
</head>

<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="d-flex justify-content-center">
    <div class="jumbotron col-10 shadow-lg bg-white">
        <h1>Show all settings</h1>
        <hr>
        <div class="d-flex flex-wrap">

            <th:block th:each="setting, iter : ${allSettingServiceModels}">
                <th:block th:include="~{fragments/settings/show-all-settings-image-modal}"></th:block>
            </th:block>

        </div>
        <hr>
        <form th:action="@{/admin/panel}" th:method="get">
            <button class="btn btn-lg btn-outline-success">Admin panel</button>
        </form>

    </div>
</main>
<script>
    $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>